<div id="header-wrapper">
    <div id="header" class="container">
      <div id="logo">
        <h1><span class="fa fa-bolt"></span><a href="#">veyu0</a></h1>
      </div>
    </div>
  </div>
  <div id="header-featured">
    <div id="banner-wrapper">
      <div id="banner" class="container">
        <h2>Привет, я Вера и я программист</h2>
        <p>Скоро откроется запись на курсы различных направлений.</p>
        <a href="/courses/" class="button">Записаться</a>
      </div>
    </div>
  </div>
  <div>
    <form action="" method="post">
      <fieldset>
        <legend>Оформить заявку</legend>
          <label class="title" for="name">Ваше имя </label>
          <input type="text" name="name"><br>
          <label class="title" for="email">Ваша почта </label>
          <input class="text" name="email">
      </fieldset>
    <div class="submit">
      <input type="submit" value="Отправить">
    </div>
    </form>
  </div>